body {
  background-color: #f0f2f5;
  color: #0a0505;
}

.header_container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header {
  background-color: #1c2b3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  color: #4f7585;
}

.title h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.title h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #4f7585;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li a {
  text-decoration: none;
  color: #8bbdd9;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#nav li a:hover {
  color: #0ba5e6;
  text-decoration: underline;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-side input[type="search"] {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #5c9ead;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.right-side input[type="search"]:focus {
  outline: none;
  border-color: #0ba5e6;
  box-shadow: 0 0 8px rgba(0, 165, 230, 0.5);
}

.right-side .btn {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #8bbdd9;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.right-side .btn:hover {
  background-color: #0ba5e6;
  transform: scale(1.05);
}

.right-side .btn:active {
  transform: scale(0.95);
}

.main_part {
  padding-top: 5%;
}

.main_part p {
  font-size: 16px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Side__managing {
  display: block;
  text-align: center;
  width: 30%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin-right: 18%;
}

.item-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card__image {
  width: 100%;
  height: 169px;
  object-fit: contain;
}

.item-card__body {
  padding: 10px;
  background-color: white;
}

.item-card__title {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.item-card__text {
  color: #555;
  margin-bottom: 5px;
}

.summary-text {
  font-size: 16px;
  font-weight: bold;
}
